# Development | Staging | Production
ASPNETCORE_ENVIRONMENT=Development

DB_HOST=db
DB_PORT=5432
POSTGRES_DB=karba
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
SEQ__URL="http://seq:5341"

SEQ_FIRSTRUN_ADMINPASSWORD=change_me
SEQ_INGEST_PORT=5341
SEQ_UI_PORT=8081

APP_PORT=8080
ADMINER_PORT=5050

SEED__ADMINPASSWORD=Change_me_1
#username: demochecklist
SEED__DEMOCHECKLISTOWNERPASSWORD=Change_me_2
SEED__DEMOCHECKLISTOWNEREMAIL=demochecklist@example.invalid
