@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5 mb-5">
    <h1 class="display-4">Welcome to Bogar Karba</h1>
    <p class="lead">Your ultimate technical checklist tracker.</p>
</div>

<div id="progress-checklists-container" class="container"></div>

@section Scripts {
    <script src="~/js/home-progress.js" asp-append-version="true"></script>
}
